/.vs
/EF CORE/.vs
/EF CORE/EF CORE/bin
/EF CORE/EF CORE/obj
/DSA/.vs
/DSA/DSA/bin
/DSA/DSA/obj
/c\#/.vs
/WebApplication/.vs
/WebApplication/bin
/WebApplication/obj
/c\#/C\#Advanced/obj
/c\#/DIP/obj
/c\#/ISP/obj
/c\#/LSP/obj
/c\#/OCP/obj
/c\#/SOILD/obj
/c\#/SRP/.vs
/c\#/SRP/obj
/c\#/TestProject1/obj
/c\#/TestProject1/bin
/Database/EFCORE/EF_DataAccess/.vs/EF_DataAccess
/Database/EFCORE/EF_DataAccess/bin/Debug
/Database/EFCORE/EF_DataAccess/obj
/Database/EFCORE/EF_DataModel/obj
/Database/EFCORE/EF_DataModel/bin
/Database/EFCORE/EF_DataAccess/.vs
/Database/EFCORE/EF_DataAccess/.vs
